body {
  padding: 50px;
  background-color: #fff;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    padding-top: 20px;
    font-size: 4em;
    margin:0 0 20px;
    line-height:1.1;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
p1 {
    margin:0 0 20px;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.4em;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
p2 {
    margin-left: 20px;
    font-size: 2em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
p3 {
    margin-left: 20px;
    font-size: 2em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
button {
  margin-left: 50px;
  background-color: #00ced1; 
  border: none;
  color: #333;
  border-radius: 12px;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
